<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <!-- Console output -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601, America/New_York} |-%-5p in %lo{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Enable STDOUT appender for all log messages.
       By default, only log at level INFO and above. -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- For loggers in the these namespaces, log at non-default levels. -->
  <logger name="onyx-watermark" level="ALL" />
  <logger name="com.amazonaws" level="ERROR" />
  <logger name="org.apache" level="ERROR" />
  <logger name="org.I0Itec" level="ERROR" />

</configuration>
